{% extends 'base.html' %}
{% block title %}Hakkımızda{% endblock %}

{% block description %} Hakkımızda sayfası {% endblock %}
{% block keywords %} Bizler, kimleriz {% endblock %}
{% block author %} Suphi Çakır {% endblock %}

{% block header %}Hakkımızda Sayfası{% endblock %}
{% block welcome %}Bizler kimleriz?{% endblock %}
{% block content %}
<h1>Donec ligula dui, elementum vitae enim quis, bibendum consectetur velit.</h1>
<p>
   Donec ligula dui, elementum vitae enim quis, bibendum consectetur velit. In quis accumsan lacus, eu vestibulum est. Suspendisse potenti. In hac habitasse platea dictumst. Vestibulum dapibus ante ac elit mollis, id dictum risus dignissim. Donec auctor accumsan nisi et laoreet. Duis vitae nunc quis ipsum hendrerit viverra et ac lacus. Proin sed lectus justo. Sed ultrices hendrerit aliquet. Sed gravida laoreet lectus, vitae mattis leo. Nunc tempor auctor volutpat. Phasellus malesuada massa a erat condimentum ultricies quis placerat lorem. Vivamus ornare elementum justo, at porta justo semper eget. Aliquam ac nunc in quam tempus ultricies vel vitae mauris. Integer vel sem porta, facilisis mauris a, laoreet elit. Vivamus volutpat blandit justo vel vehicula.
</p>
{% include 'include/info.html' %}
{% endblock %}
