{% extends 'base.html' %}
{% load static %}

{% block title %} Hakımızda {% endblock %}
{% block page_description %} Hakkımızda sayfa içeriği. {% endblock %}
{% block keywords %} edukey, udemy, emrah yüksel, corporate {% endblock %}

{% block extracss %}{% endblock %}

{% block content %}

<!--Hakkımızda-->
<div class="row">
    <div class="col-md-12 mb-4">
        <h2 class="mb-4">Hakkımızda</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Phasellus lacinia dolor condimentum tellus vulputate, sed
            aliquet tortor semper. Curabitur gravida, enim vel varius maximus,
            dolor arcu tincidunt lectus, eget posuere sem purus ut purus.
            Integer condimentum, ante sit amet imperdiet tincidunt, ipsum dui
            egestas felis, a aliquet est elit quis tellus. Pellentesque
            tempor, leo eget lacinia gravida, erat est laoreet libero, vitae
            aliquet magna nunc at lectus. Aenean ultricies diam risus, sed
            luctus lectus fringilla id. Duis convallis convallis condimentum.
            Vestibulum gravida metus eu bibendum sollicitudin. Nullam dolor
            sapien, pulvinar a viverra non, auctor in nibh. Mauris vel est
            pulvinar, interdum lacus a, gravida quam. Integer ullamcorper,
            magna ac convallis rhoncus, dolor diam efficitur nunc, sed
            ultricies mauris libero at sem.
        </p>
        <p>
            Praesent faucibus lectus vitae ipsum congue, at
            eleifend odio sagittis. Maecenas dictum lacus orci, at facilisis
            lectus convallis at. Ut aliquam urna eget ultricies tincidunt.
            Cras tincidunt congue condimentum. Integer lacinia tortor pretium
            magna convallis sollicitudin. Proin quam nisi, mattis rhoncus
            imperdiet vitae, aliquam eu odio. Nam sed sapien et magna egestas
            sodales. Nam gravida elit felis, sit amet tincidunt lacus
            sollicitudin sit amet.
        </p>
        <p>
            Nulla facilisi. Pellentesque porta nunc quis tempus
            lacinia. Donec mi tellus, auctor sit amet elit sit amet, pharetra
            mattis mi. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Etiam et lectus a purus condimentum pellentesque. Phasellus
            finibus, libero et ornare tempus, justo tellus ultricies metus,
            sit amet blandit ligula nunc aliquam felis. Quisque sit amet nulla
            ligula. Nullam id ipsum id mi elementum varius a maximus elit.
            Nunc vitae tellus sagittis, consequat tellus sit amet, feugiat
            eros.
        </p>
        <p>
            Sed fringilla nisl ornare enim dignissim, in pulvinar
            odio molestie. Nunc elementum augue dui, a posuere velit accumsan
            at. Nullam a semper sapien, semper mattis mauris. Proin vitae quam
            ac felis scelerisque feugiat. Suspendisse semper, tortor ut
            dignissim tempor, elit leo pretium purus, vitae pulvinar erat nisl
            a nisl. Aenean et condimentum nisl, sit amet imperdiet arcu. Donec
            lacus elit, molestie sit amet sem ut, volutpat commodo velit.
            Suspendisse porta at nisl at bibendum. Quisque purus nunc,
            molestie at cursus sit amet, sagittis in lectus. Sed fringilla
            eros vel massa facilisis pellentesque. In eget enim ante. Praesent
            vitae tortor elit. In hac habitasse platea dictumst. Integer eget
            viverra orci, sed laoreet mauris.
        </p>
        <p>
            Cras vitae egestas risus. Proin sit amet consectetur
            velit. Vivamus massa lacus, molestie a placerat ac, sagittis non
            mi. Vestibulum pulvinar, tortor placerat sollicitudin aliquam,
            urna tortor iaculis neque, eget sollicitudin enim magna at diam.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi sit amet eros quis ex eleifend
            ultricies. Nulla id ex ornare felis gravida vestibulum cursus eu
            nunc.
        </p>
        <p>
            Cras vitae egestas risus. Proin sit amet consectetur
            velit. Vivamus massa lacus, molestie a placerat ac, sagittis non
            mi. Vestibulum pulvinar, tortor placerat sollicitudin aliquam,
            urna tortor iaculis neque, eget sollicitudin enim magna at diam.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi sit amet eros quis ex eleifend
            ultricies. Nulla id ex ornare felis gravida vestibulum cursus eu
            nunc.
        </p>
        <p>
            Cras vitae egestas risus. Proin sit amet consectetur
            velit. Vivamus massa lacus, molestie a placerat ac, sagittis non
            mi. Vestibulum pulvinar, tortor placerat sollicitudin aliquam,
            urna tortor iaculis neque, eget sollicitudin enim magna at diam.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi sit amet eros quis ex eleifend
            ultricies. Nulla id ex ornare felis gravida vestibulum cursus eu
            nunc.
        </p>
    </div>
</div>
<!--Hakkımızda-->


{% endblock %}