{% extends 'base.html' %}
{% block title %} Ana Sayfa {% endblock %}

{% block description %} Django eğitim sayfası {% endblock %}
{% block keywords %} Django, PyCharm, Python {% endblock %}
{% block author %} Suphi Çakır {% endblock %}

{% block header %} Ana Sayfa {% endblock %}
{% block welcome %} Hoş Geldiniz {% endblock %}
{% block content %}
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at eleifend massa. Praesent lorem est, sodales vitae magna pellentesque, dignissim aliquet nisl. Suspendisse blandit, metus quis ullamcorper consequat, mi lacus facilisis nisi, et pellentesque massa tellus sit amet ipsum. Vestibulum pharetra sit amet neque sit amet pharetra. Donec ut venenatis ex. Nam ante tortor, consequat ac eros eu, posuere interdum tellus. Nullam tincidunt eros turpis. Morbi eu turpis quis arcu iaculis semper. Morbi ullamcorper ante vel condimentum blandit. Praesent magna lacus, venenatis et ullamcorper at, fermentum sit amet neque. Praesent luctus sit amet justo sit amet bibendum. Etiam pellentesque tortor felis, ac vehicula turpis efficitur eu.
</p>
{% include 'include/info.html' %}
{% endblock %}

