{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}Hizmetlerimiz{% endblock %}
{% block page_description %} Hizmetlerimiz sayfa içeriği {% endblock %}

{% block extracss %}{% endblock %}


{% block content %}
<!--Services-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Hizmetlerimiz' %}</h2>
    <!-- Card 1 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 1</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 2</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 3</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 4</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 5 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 5</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 6 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 6</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 7 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 7</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- Card 8 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık 8</h5>
                <p class="card-text">
                    Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
</div>
<!--Services-->
{% endblock %}