{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <title>{% block title %}Base.html{% endblock %} </title>
</head>
<body>

<div class="container">
    <h1>{% block header %}{% endblock %}</h1>
    <h3>{% block welcome %}{% endblock %}</h3>
    <nav>
        <ul>
            <li><a href="{% url 'index_view' %}">Ana Sayfa</a></li>
            <li><a href="{% url 'about_view' %}">Hakkımızda</a></li>
        </ul>
        <hr>
    </nav>
    {% block content %} Ana Sayfa {% endblock %}

</div>


</body>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</html>