<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Sample Project</title>
</head>
<body>
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at eleifend massa. Praesent lorem est, sodales vitae magna pellentesque, dignissim aliquet nisl. Suspendisse blandit, metus quis ullamcorper consequat, mi lacus facilisis nisi, et pellentesque massa tellus sit amet ipsum. Vestibulum pharetra sit amet neque sit amet pharetra. Donec ut venenatis ex. Nam ante tortor, consequat ac eros eu, posuere interdum tellus. Nullam tincidunt eros turpis. Morbi eu turpis quis arcu iaculis semper. Morbi ullamcorper ante vel condimentum blandit. Praesent magna lacus, venenatis et ullamcorper at, fermentum sit amet neque. Praesent luctus sit amet justo sit amet bibendum. Etiam pellentesque tortor felis, ac vehicula turpis efficitur eu. </p>
<p> Aenean eleifend vitae purus vitae vulputate. Nulla facilisis, eros vehicula auctor auctor, nisi ligula convallis odio, vitae mollis augue augue vitae magna. Vestibulum vel metus dapibus, lobortis nibh in, vestibulum ligula. Suspendisse ac lacus quam. Morbi pellentesque eros ac hendrerit ultrices. Aenean varius lectus in nisl finibus luctus. Mauris viverra tortor eget erat mollis mollis vel eu lectus. Nullam vitae vehicula eros. Sed eu rutrum nulla. Donec consequat sed neque id fermentum. Maecenas turpis leo, placerat at ipsum vel, maximus scelerisque ligula. Donec blandit, lorem a tempor blandit, odio massa iaculis libero, eget tempor ligula mauris vitae ex. Pellentesque facilisis hendrerit massa. Aliquam ac elit vitae neque faucibus accumsan. Vestibulum consequat augue et neque ultrices malesuada. </p>
<p><a href="{% url 'index' %}">Ana Sayfa</a> | <a href="{% url 'about' %}">Hakkımızda Sayfası</a></p>
</body>
</html>